#contentDatHang{
    font-family: 'Muli', sans-serif;

}
/* Thông tin đặt hàng */
.thongTinHang h4{
color: #253951;
font-size: 2.30769em;
line-height: 39.78px;
font-family: "Open Sans",sans-serif;
font-weight: 300;
margin-top: 0;
}

.thongTinHang .form-block{
    margin-bottom: 20px;
    overflow: hidden;
}

.thongTinHang .form-block label{
    margin-right: 15%;
}

/*  */
.your-order-head{
background-color: #f8f8f8;
padding: 0 40px;
border-top: 1px solid #e8e8e8;
border-bottom: 1px solid #e8e8e8;
}

#size{
padding-left: 30%;
}

.your-order-head h5{
    font-size: 24px;
    color: #484747;
    line-height: 55px;
    width: 100%;
}

#sanphamdatmua{
    margin-top: 5%;
}

.your-order-item{
    margin-top: 5%;
}

.your-order-item .your-order-f18{
    margin-top: 5%;
    font-weight: bolder;
}

.your-order-body{
    padding: 0px 10px
}

.your-order-body img{
width: 110px;
height: 110px;
}

.your-order-body li{
margin-top: 5%;
}

.your-order-item h5{
    color: #ff2d00;
    font-size: 25px;
    font-weight: bolder;
}

#giasptren{
  color: #8d9000;
  font-size: 20px;
}

.font-large{
  font-size: 30px;
}
#btnDatHang{
    margin-bottom: 10%;
    font-size: 1.5em;
    font-family: 'Bangers', cursive;
    font-family: 'Mitr', sans-serif;
   
}
#btnDatHang button{
    margin-top: 5%;
    border-radius: 5px;
}

#btnDatHang span{
    color: #ffbc02;
}

#dathangform{
    border: 1px solid rgba(128, 128, 128, 0.096);
    margin-bottom: 5%;
}
/* Thông tin đặt hàng */